@keyframes move-text {
  form {
    opacity: 1;
  }
  50% {opacity: .1;}
  to {
    opacity: 1;
}}

html {
    box-sizing: border-box;
}

.body {
  background-color: #282424;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 90vw;
  height: 80vh;
}

.carousel__img {
  margin: 10em auto 4em;
  width: 100%;
  overflow: hidden;
  order: -2;
}

.carousel__box {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
  height: 100%;
}

.carousel__item {
  width: 100%;
  height: 100%;
}

.box__img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eefad7;
  border-radius: 3%;
}

.carousel__item__img {
  max-width: 100%;
  height: 100%;
  border-radius: 3%;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.carousel__text {
  width: 100%;
  overflow: hidden;
}
.carousel__text_box {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
}

.box__text {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  width: 100%;
}

.carousel__item__text {
  margin: 0;
  width: 67em;
  font-size: 3rem;
  color: #eefad7;
}

.nav {
  display: flex;
}

.nav__input {
  display: none;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2em;
  padding: .2em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 50%;
}
.nav__item:hover > .btn,
.nav__item:focus > .btn,
.nav__item:active > .btn {
  background-color: #636b54;
}

/* выбранный элемент контрол */
#btn-1:checked~ .wrapper > .nav  .nav__item:nth-child(1) > .btn,
#btn-2:checked~ .wrapper > .nav  .nav__item:nth-child(2) > .btn,
#btn-3:checked~ .wrapper > .nav  .nav__item:nth-child(3) > .btn,
#btn-4:checked~ .wrapper > .nav  .nav__item:nth-child(4) > .btn,
#btn-5:checked~ .wrapper > .nav  .nav__item:nth-child(5) > .btn {
  height: 80%;
  width: 80%;
  border: .3em solid #8d9088;
  background-color: #636b54;
}

.btn {
  width: 60%;
  height: 60%;
  background-color: #eefad7;
  border-radius: 50%;
}

/* перемещение текста при клике на контрол*/
#btn-1:checked~ .wrapper > .carousel__text .carousel__text_box {
  margin-left: 0;
}
#btn-2:checked~ .wrapper > .carousel__text .carousel__text_box {
  margin-left: -100%;
}
#btn-3:checked~ .wrapper > .carousel__text .carousel__text_box {
  margin-left: -200%;
}
#btn-4:checked~ .wrapper > .carousel__text .carousel__text_box {
  margin-left: -300%;
}
#btn-5:checked~ .wrapper > .carousel__text .carousel__text_box {
  margin-left: -400%;
}

/* анимация текста при клике на контрол*/
#btn-1:checked~ .wrapper > .carousel__text > .carousel__text_box .carousel__item__text:nth-child(1) {
  animation: move-text  3s ease-in-out;
}
#btn-2:checked~ .wrapper > .carousel__text > .carousel__text_box .carousel__item__text:nth-child(2) {
  animation: move-text  3s ease-in-out;
}
#btn-3:checked~ .wrapper > .carousel__text > .carousel__text_box .carousel__item__text:nth-child(3) {
  animation: move-text  3s ease-in-out;
}
#btn-4:checked~ .wrapper > .carousel__text > .carousel__text_box .carousel__item__text:nth-child(4) {
  animation: move-text  3s ease-in-out;
}
#btn-5:checked~ .wrapper > .carousel__text > .carousel__text_box .carousel__item__text:nth-child(5) {
  animation: move-text  3s ease-in-out;
}

/* перемещение картинок при клике на контрол*/
#btn-1:checked~.carousel__img > .carousel__box {
  margin-left: 0;
}
#btn-2:checked~.carousel__img > .carousel__box  {
  margin-left: -100%;
}
#btn-3:checked~.carousel__img > .carousel__box {
  margin-left: -200%;
}
#btn-4:checked~.carousel__img > .carousel__box {
  margin-left: -300%;
}
#btn-5:checked~.carousel__img > .carousel__box {
  margin-left: -400%;
}


@media (max-width: 800px) /*and (min-width: 320px)*/ {
  .container {
    /* max-width: 18em; */
  }
  .carousel__img {
    margin-bottom: 0;
    /* width: 17em; */
  }
  .carousel__box {
    /* gap: 1em;
    max-width: 90em; */
  }

  .carousel__item {
    /* width: 17em; */
  }
  .box__img {
    /* width: 17em;
    height: 11em; */
  }
  .carousel__item__img {

  }
  .wrapper {
    flex-direction: column;
    /* width: 17em; */
  }
  .carousel__text {
    order: 1;
    /* width: 75%;
    overflow: hidden; */
  }
  .box__text {
    /* flex-basis: 17em;
    width: 17em; */
  }

  .carousel__item__text {
    /* width: 17em; */
    font-size: 2em;
  }

  .nav {
    justify-content: center;
    margin: 2em 0;
  }
}