html {
    box-sizing: border-box;
}

.body {
  background-color: #282424;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 90em;
}

.carousel__img {
  margin: 10em auto 4em;
  width: 80em;
  overflow: hidden;
}

.carousel__box {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  max-width: 260em;
}

.carousel__item {
  width: 80em;
  height: 100%;
}

.box__img {
  margin: 0 auto;
  width: 80em;
  height: 50em;
  text-align: center;
  background-color: #eefad7;
  border-radius: 3%;
}

.carousel__item__img {
  max-width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80em;
}

.carousel__text {
  display: flex;
  flex-wrap: nowrap;
  width: 75%;
  overflow: hidden;
}

.box__text {
  display: flex;
  flex-grow: 1;
  flex-basis: 67em;
  white-space: nowrap;
  width: 67em;
}

.carousel__item__text {
  margin: 0;
  width: 67em;
  font-size: 3rem;
  color: #eefad7;
}

.carousel__nav {
  display: flex;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2em;
  padding: .2em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 50%;
}
.nav__item:hover > .btn,
.nav__item:focus > .btn,
.nav__item:active > .btn {
  background-color: #636b54;
}



.btn {
  width: 60%;
  height: 60%;
  background-color: #eefad7;
  border-radius: 50%;
}

@media (max-width: 480px) /*and (min-width: 320px)*/ {
  .container {
    max-width: 18em;
  }
  .carousel__img {
    margin-bottom: 0;
    width: 17em;
  }
  .carousel__box {
    gap: 1em;
    max-width: 90em;
  }

  .carousel__item {
    width: 17em;
  }
  .box__img {
    width: 17em;
    height: 11em;
  }
  .carousel__item__img {

  }
  .wrapper {
    flex-direction: column;
    width: 17em;
  }
  .carousel__text {
    order: 1;
    width: 75%;
    overflow: hidden;
  }
  .box__text {
    flex-basis: 17em;
    width: 17em;
  }

  .carousel__item__text {
    width: 17em;
    font-size: 2em;
  }

  .carousel__nav {
    justify-content: center;
    margin: 2em 0;
  }
}